@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
body {
    font-family: Borel;
    background: linear-gradient(70deg, #545c52 30%, #fff 93%);
}
p {
    color: rgb(255, 0, 0);
}
.nav-link {
    color: rgb(58, 59, 59);
}

 .navbar-nav .nav-link.active {
    color:rgb(240, 12, 12);
}
.navbar-brand img {
    width: 30px;
}
.navbar-toggler {
    background-color: gray;
}
.sidebar {
    color: rgb(255, 0, 0);
    background: linear-gradient(270deg, #545c52 30%, #fff 93%);

}
.card {
    background: linear-gradient(270deg, #545c52 30%, #fff 93%);
    color: rgb(255, 0, 0);
}
.card a {
    text-decoration: none;
    color: rgb(255, 0, 0);
}
.slide-text,
.footer-text {
    color: rgb(255, 0, 0);
    margin: auto auto;
}
footer {
    background: linear-gradient(270deg, #545c52 30%, #fff 93%)
}
.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-outline-info {
    color: rgb(255, 0, 0);
}
.call-anim {
    animation: myAnim 2s ease 0s infinite normal forwards;
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}
